<!DOCTYPE html>
<html>
<head>
  <title>Chess Board</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div id="chessboard">
    {% for row in board %}
        {% set row_idx = loop.index0 %}
        <div class="row">
            {% for piece in row %}
            {% set col_idx = loop.index0 %}
            <div class="square {% if (row_idx + col_idx) % 2 == 0 %}white{% else %}black{% endif %}">
                {% if piece != '' %}
                <img src="{{ url_for('static', filename='images/' + piece + '.png') }}" width="60" />
                {% else %}
                &nbsp;
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endfor %}
  </div>

  <button id="moveBtn">Make Move</button>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
